@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
}

.dark {
  --background: #191919;
  --foreground: #fff;
}

.light {
  --background: #ededed;
  --foreground: #000;
}

.dark .theme-switcher {
  background-image: url('../public/icons/dark-theme-icon.svg');
  height: 30px;
  width: 30px;
}

.light .theme-switcher {
  background-image: url('../public/icons/light-theme-icon.svg');
  height: 30px;
  width: 30px;
}

