@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
}

.dark {
  --background: #000; 
  --foreground: #fff;
  --primary-color: #ce95fe;
  --secondary-color: #151515;
  --border-color: #fff;
}

.light {
  --background: #ededed;
  --foreground: #000;
  --primary-color: #cfd6ff;
  --secondary-color: #e0e0e0;
  --border-color: #000
}

.dark .theme-switcher {
  background-image: url('../public/icons/dark-theme-icon.svg');
  height: 25px;
  width: 25px;
}

.light .theme-switcher {
  background-image: url('../public/icons/light-theme-icon.svg');
  height: 25px;
  width: 25px;
}

.border-b-2, border {
  border-color: var(--border-color);
}

input, textarea  {
  background-color: var(--secondary-color);
  border-color: var(--foreground);    
}

* :focus {
  outline: 2px solid color-mix(in srgb, var(--primary-color) 70%, black); 
}