@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

.light {
  --background: #ffffff;
  --foreground: #171717;
}

.dark .theme-switcher {
  background-image: url('../public/icons/dark-theme-icon.svg');
  height: 20px;
  width: 20px;
}

.light .theme-switcher {
  background-image: url('../public/icons/light-theme-icon.svg');
  height: 20px;
  width: 20px;
}

